<div class="nav-top" >
    <div class="pk-container">
        <div class="logo pk-row np">
            <a href="http://www.uicare.cn/"><img class="pic" src="./images/logo_icon.png"  alt="公司logo" ></a>
            <span class="words" >有康私家医生<span class="phone" >400-686-9900</span></span>
        </div>
        <ul class="menu">
            <li><a href="javascript:;" data-target="#page1" class="active">首页</a></li>
            <li><a href="javascript:;" data-target="#page2">健康档案</a></li>
            <li><a href="javascript:;" data-target="#page5">实时咨询</a></li>
            <li><a href="javascript:;" data-target="#page4">上门服务2</a></li>
            <li><a href="javascript:;" data-target="#page3">全球转诊</a></li>
            <li><a href="javascript:;" data-target="#page6">下载APP</a></li>
            <li><a href="javascript:;" data-target="#page7">联系我们</a></li>
            <!--<li><a  href="javascript:;"><img src="images/i_phone.png"><span>400-696-688</span></a></li>-->
        </ul>
    </div>
</div>