<div class="download h_group">
    <div class="item" data-toggle="modal" data-target=".modal-download-erweima">
        <img src="images/ma.png">
        <span class="title">二维码</span>
        <span class="version">版本号 V1.0.2</span>
    </div>
    <div class="modal fade modal-download-erweima">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="images/liantu.png" style="padding: 100px 0;">
            </div>
        </div>
    </div>
    <div class="item" data-toggle="modal" data-target=".modal-download-doctor">
        <img src="images/doctor.png">
        <span class="title">医生端</span>
        <span class="version">版本号 V1.0.2</span>
    </div>
    <div class="modal fade modal-download-doctor">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 100px 0;">
                <img src="images/liantu.png">
                <div class="pc_download">
                    <a class="doctor_download btn" href="javascript:void(0)">点击下载 IOS 版到电脑</a>
                    <a class="patient_download btn" href="javascript:void(0)">点击下载 Android 到电脑</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item user" data-toggle="modal" data-target=".modal-download-patient">
        <img src="images/patient.png">
        <span class="title">用户端</span>
        <span class="version">版本号 V1.0.2</span>
    </div>
    <div class="modal fade modal-download-patient">
        <div class="modal-dialog">
            <div class="modal-content" style="padding: 100px 0;">
                <img src="images/liantu.png">
                <div class="pc_download">
                    <a class="doctor_download btn" href="javascript:void(0)">点击下载 IOS 版到电脑</a>
                    <a class="patient_download btn" href="javascript:void(0)">点击下载 Android 到电脑</a>
                </div>
            </div>
        </div>
    </div>
</div>