<div class="header clearfix">
    <div class="center-width">
        <ul class="contact list list-inline clearfix">
            <li class="item"><span class="icon icon_phone"></span><span class="phone_number">0755-012456</span></li>
            <li class="item"><span class="icon icon_qq"></span></li>
            <li class="item"><span class="icon icon_wb"></span></li>
            <li class="item"><span class="icon icon_wx"></span></li>
            <li class="item"><span class="icon icon_email"></span></li>
        </ul>
    </div>
</div>