<div class="home-we-can">
    <div class="center-width clearfix">
        <div class="home-title white">
            <div class="home-title-main">我们可以做到</div>
            <div class="home-title-second">we can</div>
            <div class="home-title-bottom"></div>
        </div>
        <ul class="list list-inline">
            <li class="item we-can-1"></li>
            <li class="item we-can-2"></li>
            <li class="item we-can-3"></li>
            <li class="item we-can-4"></li>
            <li class="item we-can-5"></li>
        </ul>
    </div>
</div>