<div class="center-width">
    <div class="logo-menu clearfix">
        <div class="logo list list-inline">
            <span class="item logo-icon"></span>
            <span class="item logo-name"></span>
        </div>
        <ul class="menu list list-inline">
            <li class="item active" data-href="/index.html">网站首页</li>
            <li class="item" data-href="https://www.baidu.com">产品中心</li>
            <li class="item" data-href="">新闻资讯</li>
            <li class="item" data-href="">关于我们</li>
        </ul>
    </div>
</div>