<div class="nav-top" >
    <div class="pk-container">
        <div class="logo">有康私家医生</div>
        <ul class="menu">
            <li><a href="javascript:;" data-target="#page1" class="active">首页</a></li>
            <li><a href="javascript:;" data-target="#page2">健康自检</a></li>
            <li><a href="javascript:;" data-target="#page3">私家医生</a></li>
            <li><a href="javascript:;" data-target="#page4">上门医生</a></li>
            <li><a href="javascript:;" data-target="#page5">线上问询</a></li>
            <li><a href="javascript:;" data-target="#page6">下载App</a></li>
            <li><a href="javascript:;" data-target="#page7">联系我们</a></li>
        </ul>
    </div>
</div>