.we-can(@url){
  background-image: url(@url);
  width: 195px;
  height: 195px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  .transition(0.5s);
  margin-right:31px;
}

.home-title-bottom(@color){
  border-bottom: 2px solid @color;
  width: 50px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.home-title-bottom-before(@color){
  content: '';
  border-bottom: 2px solid @color;
  width: 85px;
  display: block;
  position: absolute;
  left: -85px;
}
.home-title-bottom-after(@color){
  content: '';
  border-bottom: 2px solid @color;
  width: 85px;
  position: absolute;
  right: -85px;
}


/* ************** product introduction  **************** */
.home-page-introduction{
  padding: 40px 0 60px 0;
  .item{
    width: 346px;
    height: 346px;
    margin-right: 17px;
    overflow: hidden;
    position: relative;
  }
  .item::after{
    display: block;
    width: 346px;
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #6B6B6B;
    .opacity(0.5);
    position: absolute;
    bottom: -96px;
    left: 0;
    .transition(0.5s);
  }
  .item:nth-child(1):after{
    content: '个性化健康管理';
  }
  .item:nth-child(2):after{
    content: '智慧医疗产品';
  }
  .item:nth-child(3):after{
    content: '医疗App';
  }
  .item:hover:after{
    bottom: 0;
  }
}

/* ************** we can  **************** */
.home-we-can{
  background-color: @home-we-can-background-color;
  padding-bottom: 93px;
  .center-width{
    .list{
      .item:hover{
        .transform-scale(1.1,1.1);
      }
    }
  }
}

.we-can-1{
  .we-can("../images/we_can_1.png");
}
.we-can-2{
  .we-can("../images/we_can_2.png");
}
.we-can-3{
  .we-can("../images/we_can_3.png");
}
.we-can-4{
  .we-can("../images/we_can_4.png");
}
.we-can-5{
  .we-can("../images/we_can_5.png");
}


/* ************** home title  **************** */
.home-title{
  text-align: center;
  padding: 76px 0 80px 0;
  .home-title-main{
    font-size: 36px;
  }
  .home-title-second{
    font-size: 26px;
  }
  /*------------ --------- ----------*/
  .home-title-bottom{
    .home-title-bottom(#ffffff);
  }
  .home-title-bottom:before{
    .home-title-bottom-before(#000000);
  }
  .home-title-bottom:after{
    .home-title-bottom-after(#000000);
  }
  /*------------ white-red ----------*/
  .home-title-bottom.white-red{
    .home-title-bottom(red);
  }
  .home-title-bottom.white-red:before{
    .home-title-bottom-before(#ffffff);
  }
  .home-title-bottom.white-red:after{
    .home-title-bottom-after(#ffffff);
  }
  /*------------ grey-red ----------*/
  .home-title-bottom.grey-red{
    .home-title-bottom(red);
  }
  .home-title-bottom.grey-red:before{
    .home-title-bottom-before(#C9C9C9);
  }
  .home-title-bottom.grey-red:after{
    .home-title-bottom-after(#C9C9C9);
  }
}
.home-title.white{
  color: #ffffff;
}
.home-title.dark{
  color: #323232;
}

/* ************** home product flow **************** */
.home-product-flow{
  background-image:url("../images/we_can_bg.png") ;
  background-repeat: no-repeat;
}
.flow{
  margin-top: 50px;
  padding-bottom: 76px;
  position: relative;
  .flow-bone{
    display: block;
    width: 913px;
    margin: 0 auto;
  }
  .flow-node{
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    width: 118px;
    height: 118px;
    .transition(0.5s);
    &:after{
      display: block;
      position: absolute;
      font-size: 28px;
      color: #fffefe;
      .opacity(0);
      .transition(0.3s);
    }
    &:hover{
      .transform-scale(1.1,1.1);
      &:after{
        .opacity(1);
      }
    }
  }
  .flow-analysis{
    top: -30px;
    left: 20px;
    background-image: url("../images/flow_analysis.png");
    &:after{
      content: '调研分析';
      top: -65px;
    }
  }
  .flow-plan{
    top: 155px;
    left: 260px;
    background-image: url("../images/flow_plan.png");
    &:after{
      content: '产品策划';
      top: 145px;
    }
  }
  .flow-design{
    top: -10px;
    left: 465px;
    background-image: url("../images/flow_design.png");
    &:after{
      content: 'UI设计';
      left: 15px;
      top: -60px;
    }
  }
  .flow-develop{
    top: -55px;
    left: 740px;
    background-image: url("../images/flow_develop.png");
    &:after{
      content: '技术开发';
      top:135px;
    }
  }
  .flow-test{
    top: 130px;
    left: 930px;
    background-image: url("../images/flow_test.png");
    &:after{
      content: '测试';
      left: 145px;
      top: 35px;
      width: 80px;
    }
  }
  .flow-online{
    top: 280px;
    left: 735px;
    background-image: url("../images/flow_online.png");
    &:after{
      content: '完成上线';
      left: -140px;
      top: 40px;
    }
  }
}

.team-thumbnail{
  .item{
    width: 270px;
    height: 208px;
    margin-right: 5px;
  }
}

.home-about-us{
  .caption{
    .item{
      width: 268px;
      margin-right: 5px;
      text-align: center;
      padding: 10px 0;
      border: 1px solid #C0C0C0;
      .main-title{
        font-size: 18px;
        font-weight: bold;
        color: #282a30;
        line-height: 30px;
        height: 30px;
      }
      .second-title{
        font-size: 14px;
        font-weight: bold;
        color: #888888;
      }
    }
  }
}