.animation-box{
  position: relative;

  .animation {
    position: absolute;
  }
}

.page{
  .header{
    text-align: center;
    .small{
      padding: 20px;
    }
  }
  .footer{
    text-align: center;
  }
}

.small{
  display: block;
  color: #444444;
  font-size: smaller;
}

@media (min-width: 768px) {
  .page1{

    padding-bottom: 140px;

    .header{
      margin-top: 140px;
    }
    .content{
      margin-top: 50px;
      .logo{
        margin-top: 20px;
      }
    }
  }

  .page2{

    .animation-box{
      height: 707px;
      padding: 43px 0 15px 0;
      img.animation{
        width: 80%;
      }
    }

    .header{
      margin-top: 200px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page3,.page5{

    .animation-box{
      height: 744px;
      padding: 40px 0;
      img.animation{
        width: 45%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page4{

    .animation-box{
      height: 720px;
      padding: 40px 0 10px 0;
      img.animation{
        width: 100%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page6{

    margin:140px 0;

    .content{

      margin: 40px 0;

      .box{
        padding:60px 75px;
        border: 1px dashed red;
      }
      .doctor{
        float: right;
        text-align: center;
      }
      .user{
        float: left;
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {
  .page1{

    padding-bottom: 140px;

    .header{
      margin-top: 140px;
    }
    .content{
      margin-top: 50px;
      .logo{
        margin-top: 20px;
      }
    }
  }

  .page2{

    .animation-box{
      height: 707px;
      padding: 43px 0 15px 0;
      img.animation{
        width: 80%;
      }
    }

    .header{
      margin-top: 200px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page3,.page5{

    .animation-box{
      height: 744px;
      padding: 40px 0;
      img.animation{
        width: 45%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page4{

    .animation-box{
      height: 720px;
      padding: 40px 0 10px 0;
      img.animation{
        width: 100%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page6{

    margin:140px 0;

    .content{

      margin: 40px 0;

      .box{
        padding:60px 75px;
        border: 1px dashed red;
      }
      .doctor{
        float: right;
        text-align: center;
      }
      .user{
        float: left;
        text-align: center;
      }
    }
  }
}


@media (min-width: 1200px) {
  .page1{

    padding-bottom: 140px;

    .header{
      margin-top: 140px;
    }
    .content{
      margin-top: 50px;
      .logo{
        margin-top: 20px;
      }
    }
  }

  .page2{

    .animation-box{
      height: 707px;
      padding: 43px 0 15px 0;
      img.animation{
           width: 80%;
      }
    }

    .header{
      margin-top: 200px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page3,.page5{

    .animation-box{
      height: 744px;
      padding: 40px 0;
      img.animation{
        width: 45%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page4{

    .animation-box{
      height: 720px;
      padding: 40px 0 10px 0;
      img.animation{
        width: 100%;
      }
    }

    .header{
      margin-top: 350px;
    }
    .content{
      margin-top: 40px;
    }
  }

  .page6{

    margin:140px 0;

    .content{

      margin: 40px 0;

      .box{
        padding:60px 75px;
        border: 1px dashed red;
      }
      .doctor{
        float: right;
        text-align: center;
      }
      .user{
        float: left;
        text-align: center;
      }
    }
  }
}